Source: trac-mastertickets
Section: web
Priority: optional
Build-Depends: debhelper (>= 9), python (>= 2.7), dh-python, python-setuptools
Maintainer: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Uploaders: W. Martin Borgert <debacle@debian.org>
Standards-Version: 3.9.8
Homepage: http://trac-hacks.org/wiki/MasterTicketsPlugin
X-Python-Version: >=2.7

Package: trac-mastertickets
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, trac (>= 0.12)
Recommends: libjs-jquery, graphviz
Description: adds inter-ticket dependencies to Trac
 This Trac plugin adds "blocks" and "blocked by" fields to each
 ticket, enabling you to express dependencies between tickets. It
 also provides a GraphvizPlugin-based dependency-graph feature
 for those tickets having dependencies specified, allowing you to
 visually understand the dependency tree.
