#!/usr/bin/make -f
# -*- makefile -*-

PACKAGE=trac-mastertickets
SRCURL=https://github.com/coderanger/trac-mastertickets/tarball
SRCREV=b8715f528a
VERSION=3.0.2+r${SRCREV}

DH_VERBOSE=1

get-orig-source:
	wget ${SRCURL}/${SRCREV} -O ${PACKAGE}_${VERSION}.orig.tar.gz

clean:
	dh_testdir
	dh_testroot
	rm -rf build-stamp TracMasterTickets.egg-info
	python setup.py clean
	rm -rf build/
	dh_clean 

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp

build-stamp:
	dh_testdir
	python setup.py build
	touch $@

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	python setup.py install --root="$(CURDIR)/debian/${PACKAGE}" --no-compile

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs README
	dh_compress
	dh_fixperms
	dh_pysupport
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch

.PHONY: get-orig-source clean build install binary-indep binary-arch binary
